{% if checkouts %}
    <div class="table_div" id="{{ date_period }}_{{ group_by }}">
        {% if date_since == all_time %}
            {% if group_by == "item" %}
                <h4>Items Checked Out ({{ date_since }})</h4>
            {% elif group_by == "category" %}
                <h4>Categories Checked Out ({{ date_since }})</h4>
            {% endif %}
        {% else %}
            {% if group_by == "item" %}
                <h4>Items Checked Out (from {{ date_since }})</h4>
            {% elif group_by == "category" %}
                <h4>Categories Checked Out (from {{ date_since }})</h4>
            {% endif %}
        {% endif %}

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"><a href="?order_by=name&sort_type={{ sort_type }}">
                    {% if group_by == "item" %} Item {% elif group_by == "category" %} Category {% endif %}
                </a></th>
                <th scope="col"><a href="?order_by=checkout_quantity&sort_type={{ sort_type }}">Quantity Checked Out</a></th>
                <th scope="col"><a href="?order_by=quantity&sort_type={{ sort_type }}">Quantity Left</a></th>
            </tr>
            </thead>
            <tbody>
            {% for i, quantity_checked_out in checkouts %}
            <tr>
                <th scope="row">{{ i.id }}</th>
                <td>{{ i.name }}</td>
                <td>{{ quantity_checked_out }}</td>
                    {% if i.quantity > LOW_QUANTITY_THRESHOLD %}
                        <td>{{ i.quantity }}</td>
                    {% else %}
                        <td style='color:red'>{{ i.quantity }}</td>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Pagination -->
        {% if checkouts.has_other_pages %}

            {% include 'inventory/_pagination.html' with results=checkouts %}

        {% endif %}
        {% csrf_token %}
    </div>
{% else %}
    <p>No items have been checked out for this period.</p>
{% endif %}
