{% extends "inventory/base.html" %}

{% block title %}
    {% block navtitle %}
        Analytics
    {% endblock %}
{% endblock %}

{% block page_specific_styles %}
  <style>
    .checked-out-col {
        padding-right:20px; 
        border-right: 1px solid #ccc;
    }

  </style>
{% endblock %}

{% block content %}

<div class="container">
    <h1>Analytics</h1>
    <br>
    <div class="row">
        <div class="col-sm checked-out-col">
            <form class="check-report-form" method="POST" action="{% url 'Analytics' %}">
                    <div class="row">
                        <div class="col-sm">
                            <h6>Time Period</h6>
                            <select class="form-select" id="date-period">
                                <option value="last_week" selected>Last Week</option>
                                <option value="last_month">Last Month</option>
                                <option value="last_six_months">Last 6 Months</option>
                                <option value="all_time">All Time</option>
                            </select>
                        </div>

                        <div class="col-sm">
                            <h6>Group</h6>
                            <select class="form-select" id="group-by">
                                <option value="category" selected>By Category</option>
                                <option value="item">By Item</option>
                            </select>
                        </div>
                    </div>
                    <br>

                    {% include "inventory/analytics/_checkout_quantities_table.html" with date_period='last_week' date_since=one_week_ago checkouts=item_week_checkouts group_by="item" %}
                    {% include "inventory/analytics/_checkout_quantities_table.html" with date_period='last_month' date_since=one_month_ago checkouts=item_month_checkouts group_by="item" %}
                    {% include "inventory/analytics/_checkout_quantities_table.html" with date_period='last_six_months' date_since=six_months_ago checkouts=item_six_month_checkouts group_by="item" %}
                    {% include "inventory/analytics/_checkout_quantities_table.html" with date_period='all_time' date_since=all_time checkouts=item_all_time_checkouts group_by="item" %}
                    
                    {% include "inventory/analytics/_checkout_quantities_table.html" with date_period='last_week' date_since=one_week_ago checkouts=cat_week_checkouts group_by="category" %}
                    {% include "inventory/analytics/_checkout_quantities_table.html" with date_period='last_month' date_since=one_month_ago checkouts=cat_month_checkouts group_by="category" %}
                    {% include "inventory/analytics/_checkout_quantities_table.html" with date_period='last_six_months' date_since=six_months_ago checkouts=cat_six_month_checkouts group_by="category" %}
                    {% include "inventory/analytics/_checkout_quantities_table.html" with date_period='all_time' date_since=all_time checkouts=cat_all_time_checkouts group_by="category" %}
                    
            </form>
            {% csrf_token %}
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <h6>Data Type</h6>
                    <select class="form-select" id="chart-type">
                        <option value="cout" selected>Children</option>
                        <option value="fam">Families</option>
                    </select>
                </div>
            </div>
            <canvas id="cout_chart" width=150 height=100></canvas>
            <canvas id="fam_chart" width=150 height=100></canvas>
            <div id="lineChart">
            <svg style="height:350px;"></svg>
        </div>
    </div>
</div>

{% endblock %}


{% block page_specific_scripts %}

<link href="../build/nv.d3.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../build/nv.d3.js"></script>
<script>
    /** THE D3 SECTION FOR THE CHART
     * 
     * **/

     nv.addGraph(function () {
        var chart = nv.models.lineChart();
        chart.color(d3.scale.category10().range());
        chart.xAxis.tickFormat(function (d) {
            return d3.time.format('%d %b %Y')(new Date(d))
        });
        chart.yAxis.tickFormat(d3.format(',.02f'));
        chart.tooltipContent(function (key, y, e, graph) {
            var x = d3.time.format('%d %b %Y')(new Date(parseInt(graph.point.x)));
            var y = String(graph.point.y);
            if (key == 'Count') {
                var y = 'There is ' + String(graph.point.y) + ' calls';
            }
            if (key == 'Duration') {
                var y = String(graph.point.y) + ' min';
            }
            tooltip_str = '<center><b>' + key + '</b></center>' + y + ' on ' + x;
            return tooltip_str;
        });
        d3.select('#lineChart svg')
            .datum(data_lineChart)
            .transition().duration(500)
            .attr('height', 350)
            .call(chart);

        return chart;
    });


    data_lineChart = [{
        'color': 'green',
            'values': [{
            'y': 8,
                'x': '1338501600000'
        }, {
            'y': 9,
                'x': '1339501600000'
        }, {
            'y': 11,
                'x': '1340501600000'
        }, {
            'y': 6,
                'x': '1341501600000'
        }, {
            'y': 9,
                'x': '1342501600000'
        }, {
            'y': 13,
                'x': '1343501600000'
        }, {
            'y': 11,
                'x': '1344501600000'
        }, {
            'y': 12,
                'x': '1345501600000'
        }, {
            'y': 13,
                'x': '1346501600000'
        }, {
            'y': 16,
                'x': '1347501600000'
        }, {
            'y': 17,
                'x': '1348501600000'
        }, {
            'y': 18,
                'x': '1349501600000'
        }, {
            'y': 15,
                'x': '1350501600000'
        }, {
            'y': 23,
                'x': '1351501600000'
        }, {
            'y': 17,
                'x': '1352501600000'
        }, {
            'y': 24,
                'x': '1353501600000'
        }, {
            'y': 25,
                'x': '1354501600000'
        }, {
            'y': 20,
                'x': '1355501600000'
        }, {
            'y': 25,
                'x': '1356501600000'
        }, {
            'y': 26,
                'x': '1357501600000'
        }, {
            'y': 28,
                'x': '1358501600000'
        }, {
            'y': 28,
                'x': '1359501600000'
        }, {
            'y': 27,
                'x': '1360501600000'
        }, {
            'y': 33,
                'x': '1361501600000'
        }, {
            'y': 32,
                'x': '1362501600000'
        }, {
            'y': 35,
                'x': '1363501600000'
        }, {
            'y': 36,
                'x': '1364501600000'
        }, {
            'y': 33,
                'x': '1365501600000'
        }, {
            'y': 36,
                'x': '1366501600000'
        }, {
            'y': 38,
                'x': '1367501600000'
        }, {
            'y': 33,
                'x': '1368501600000'
        }, {
            'y': 34,
                'x': '1369501600000'
        }, {
            'y': 39,
                'x': '1370501600000'
        }, {
            'y': 43,
                'x': '1371501600000'
        }, {
            'y': 36,
                'x': '1372501600000'
        }, {
            'y': 45,
                'x': '1373501600000'
        }, {
            'y': 37,
                'x': '1374501600000'
        }, {
            'y': 42,
                'x': '1375501600000'
        }, {
            'y': 44,
                'x': '1376501600000'
        }, {
            'y': 43,
                'x': '1377501600000'
        }, {
            'y': 42,
                'x': '1378501600000'
        }, {
            'y': 51,
                'x': '1379501600000'
        }, {
            'y': 48,
                'x': '1380501600000'
        }, {
            'y': 46,
                'x': '1381501600000'
        }, {
            'y': 49,
                'x': '1382501600000'
        }, {
            'y': 47,
                'x': '1383501600000'
        }, {
            'y': 51,
                'x': '1384501600000'
        }, {
            'y': 51,
                'x': '1385501600000'
        }, {
            'y': 58,
                'x': '1386501600000'
        }, {
            'y': 50,
                'x': '1387501600000'
        }, {
            'y': 59,
                'x': '1388501600000'
        }, {
            'y': 55,
                'x': '1389501600000'
        }, {
            'y': 59,
                'x': '1390501600000'
        }, {
            'y': 62,
                'x': '1391501600000'
        }, {
            'y': 62,
                'x': '1392501600000'
        }, {
            'y': 56,
                'x': '1393501600000'
        }, {
            'y': 59,
                'x': '1394501600000'
        }, {
            'y': 63,
                'x': '1395501600000'
        }, {
            'y': 62,
                'x': '1396501600000'
        }, {
            'y': 69,
                'x': '1397501600000'
        }, {
            'y': 69,
                'x': '1398501600000'
        }, {
            'y': 62,
                'x': '1399501600000'
        }, {
            'y': 66,
                'x': '1400501600000'
        }, {
            'y': 64,
                'x': '1401501600000'
        }, {
            'y': 73,
                'x': '1402501600000'
        }, {
            'y': 67,
                'x': '1403501600000'
        }, {
            'y': 69,
                'x': '1404501600000'
        }, {
            'y': 71,
                'x': '1405501600000'
        }, {
            'y': 75,
                'x': '1406501600000'
        }, {
            'y': 78,
                'x': '1407501600000'
        }, {
            'y': 73,
                'x': '1408501600000'
        }, {
            'y': 81,
                'x': '1409501600000'
        }, {
            'y': 79,
                'x': '1410501600000'
        }, {
            'y': 75,
                'x': '1411501600000'
        }, {
            'y': 79,
                'x': '1412501600000'
        }, {
            'y': 82,
                'x': '1413501600000'
        }, {
            'y': 82,
                'x': '1414501600000'
        }, {
            'y': 84,
                'x': '1415501600000'
        }, {
            'y': 83,
                'x': '1416501600000'
        }, {
            'y': 82,
                'x': '1417501600000'
        }, {
            'y': 84,
                'x': '1418501600000'
        }, {
            'y': 84,
                'x': '1419501600000'
        }, {
            'y': 87,
                'x': '1420501600000'
        }, {
            'y': 89,
                'x': '1421501600000'
        }, {
            'y': 90,
                'x': '1422501600000'
        }, {
            'y': 93,
                'x': '1423501600000'
        }, {
            'y': 93,
                'x': '1424501600000'
        }, {
            'y': 93,
                'x': '1425501600000'
        }, {
            'y': 93,
                'x': '1426501600000'
        }, {
            'y': 93,
                'x': '1427501600000'
        }, {
            'y': 95,
                'x': '1428501600000'
        }, {
            'y': 101,
                'x': '1429501600000'
        }, {
            'y': 98,
                'x': '1430501600000'
        }, {
            'y': 98,
                'x': '1431501600000'
        }, {
            'y': 97,
                'x': '1432501600000'
        }, {
            'y': 104,
                'x': '1433501600000'
        }, {
            'y': 99,
                'x': '1434501600000'
        }, {
            'y': 102,
                'x': '1435501600000'
        }, {
            'y': 100,
                'x': '1436501600000'
        }, {
            'y': 101,
                'x': '1437501600000'
        }],
            'key': 'Count',
            'yAxis': '1'
    }, {
        'color': 'red',
            'values': [{
            'y': 16,
                'x': '1338501600000'
        }, {
            'y': 18,
                'x': '1339501600000'
        }, {
            'y': 22,
                'x': '1340501600000'
        }, {
            'y': 12,
                'x': '1341501600000'
        }, {
            'y': 18,
                'x': '1342501600000'
        }, {
            'y': 26,
                'x': '1343501600000'
        }, {
            'y': 22,
                'x': '1344501600000'
        }, {
            'y': 24,
                'x': '1345501600000'
        }, {
            'y': 26,
                'x': '1346501600000'
        }, {
            'y': 32,
                'x': '1347501600000'
        }, {
            'y': 34,
                'x': '1348501600000'
        }, {
            'y': 36,
                'x': '1349501600000'
        }, {
            'y': 30,
                'x': '1350501600000'
        }, {
            'y': 46,
                'x': '1351501600000'
        }, {
            'y': 34,
                'x': '1352501600000'
        }, {
            'y': 48,
                'x': '1353501600000'
        }, {
            'y': 50,
                'x': '1354501600000'
        }, {
            'y': 40,
                'x': '1355501600000'
        }, {
            'y': 50,
                'x': '1356501600000'
        }, {
            'y': 52,
                'x': '1357501600000'
        }, {
            'y': 56,
                'x': '1358501600000'
        }, {
            'y': 56,
                'x': '1359501600000'
        }, {
            'y': 54,
                'x': '1360501600000'
        }, {
            'y': 66,
                'x': '1361501600000'
        }, {
            'y': 64,
                'x': '1362501600000'
        }, {
            'y': 70,
                'x': '1363501600000'
        }, {
            'y': 72,
                'x': '1364501600000'
        }, {
            'y': 66,
                'x': '1365501600000'
        }, {
            'y': 72,
                'x': '1366501600000'
        }, {
            'y': 76,
                'x': '1367501600000'
        }, {
            'y': 66,
                'x': '1368501600000'
        }, {
            'y': 68,
                'x': '1369501600000'
        }, {
            'y': 78,
                'x': '1370501600000'
        }, {
            'y': 86,
                'x': '1371501600000'
        }, {
            'y': 72,
                'x': '1372501600000'
        }, {
            'y': 90,
                'x': '1373501600000'
        }, {
            'y': 74,
                'x': '1374501600000'
        }, {
            'y': 84,
                'x': '1375501600000'
        }, {
            'y': 88,
                'x': '1376501600000'
        }, {
            'y': 86,
                'x': '1377501600000'
        }, {
            'y': 84,
                'x': '1378501600000'
        }, {
            'y': 102,
                'x': '1379501600000'
        }, {
            'y': 96,
                'x': '1380501600000'
        }, {
            'y': 92,
                'x': '1381501600000'
        }, {
            'y': 98,
                'x': '1382501600000'
        }, {
            'y': 94,
                'x': '1383501600000'
        }, {
            'y': 102,
                'x': '1384501600000'
        }, {
            'y': 102,
                'x': '1385501600000'
        }, {
            'y': 116,
                'x': '1386501600000'
        }, {
            'y': 100,
                'x': '1387501600000'
        }, {
            'y': 118,
                'x': '1388501600000'
        }, {
            'y': 110,
                'x': '1389501600000'
        }, {
            'y': 118,
                'x': '1390501600000'
        }, {
            'y': 124,
                'x': '1391501600000'
        }, {
            'y': 124,
                'x': '1392501600000'
        }, {
            'y': 112,
                'x': '1393501600000'
        }, {
            'y': 118,
                'x': '1394501600000'
        }, {
            'y': 126,
                'x': '1395501600000'
        }, {
            'y': 124,
                'x': '1396501600000'
        }, {
            'y': 138,
                'x': '1397501600000'
        }, {
            'y': 138,
                'x': '1398501600000'
        }, {
            'y': 124,
                'x': '1399501600000'
        }, {
            'y': 132,
                'x': '1400501600000'
        }, {
            'y': 128,
                'x': '1401501600000'
        }, {
            'y': 146,
                'x': '1402501600000'
        }, {
            'y': 134,
                'x': '1403501600000'
        }, {
            'y': 138,
                'x': '1404501600000'
        }, {
            'y': 142,
                'x': '1405501600000'
        }, {
            'y': 150,
                'x': '1406501600000'
        }, {
            'y': 156,
                'x': '1407501600000'
        }, {
            'y': 146,
                'x': '1408501600000'
        }, {
            'y': 162,
                'x': '1409501600000'
        }, {
            'y': 158,
                'x': '1410501600000'
        }, {
            'y': 150,
                'x': '1411501600000'
        }, {
            'y': 158,
                'x': '1412501600000'
        }, {
            'y': 164,
                'x': '1413501600000'
        }, {
            'y': 164,
                'x': '1414501600000'
        }, {
            'y': 168,
                'x': '1415501600000'
        }, {
            'y': 166,
                'x': '1416501600000'
        }, {
            'y': 164,
                'x': '1417501600000'
        }, {
            'y': 168,
                'x': '1418501600000'
        }, {
            'y': 168,
                'x': '1419501600000'
        }, {
            'y': 174,
                'x': '1420501600000'
        }, {
            'y': 178,
                'x': '1421501600000'
        }, {
            'y': 180,
                'x': '1422501600000'
        }, {
            'y': 186,
                'x': '1423501600000'
        }, {
            'y': 186,
                'x': '1424501600000'
        }, {
            'y': 186,
                'x': '1425501600000'
        }, {
            'y': 186,
                'x': '1426501600000'
        }, {
            'y': 186,
                'x': '1427501600000'
        }, {
            'y': 190,
                'x': '1428501600000'
        }, {
            'y': 202,
                'x': '1429501600000'
        }, {
            'y': 196,
                'x': '1430501600000'
        }, {
            'y': 196,
                'x': '1431501600000'
        }, {
            'y': 194,
                'x': '1432501600000'
        }, {
            'y': 208,
                'x': '1433501600000'
        }, {
            'y': 198,
                'x': '1434501600000'
        }, {
            'y': 204,
                'x': '1435501600000'
        }, {
            'y': 200,
                'x': '1436501600000'
        }, {
            'y': 202,
                'x': '1437501600000'
        }],
            'key': 'Duration',
            'yAxis': '1'
    }];



</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">
    
    var labelsCoutJson = '{{ labels_couts|safe }}';
    var dataCoutJson = '{{ data_couts|safe }}';

    // Note that the real values displayed are checkout counts but we display it as Children in the UI
    var ctx = document.getElementById('cout_chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse(labelsCoutJson),
            datasets: [{
                label: 'Number of Children',
                data: JSON.parse(dataCoutJson),
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Child Checkouts per Month',
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0
                    }
                }]
            }
        }
    });

    var labelsFamJson = '{{ labels_fams|safe }}';
    var dataFamJson = '{{ data_fams|safe }}';

    var ctx = document.getElementById('fam_chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse(labelsFamJson),
            datasets: [{
                label: 'Number of Families',
                data: JSON.parse(dataFamJson),
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Family Checkouts per Month'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        precision: 0
                    }
                }]
            }
        }
    });

    $(document).ready(function() {
        // for showing tables
        var date_period_init = "last_week";
        var group_by_init = "category";
        
        if (localStorage.getItem("date-period") != null) {
            date_period_init = localStorage.getItem("date-period");
        }
        if (localStorage.getItem("group-by") != null) {
            group_by_init = localStorage.getItem("group-by");
        }
        localStorage.setItem("date-period", date_period_init);
        localStorage.setItem("group-by", group_by_init);

        var initial_table_selector = "#" + date_period_init + "_" + group_by_init
        $(".table_div").not(initial_table_selector).hide();
        $(initial_table_selector).show();

        $("#date-period").add("#group-by").on('change', function() {
            var date_period = $("#date-period").val();
            var group_by = $("#group-by").val();
            show_table_id = "#" + date_period + "_" + group_by

            $(".table_div").not(show_table_id).hide();
            $(show_table_id).show();

            localStorage.setItem("date-period", date_period);
            localStorage.setItem("group-by", group_by);
        });

        // for showing charts
        var chart_selector_init = "cout"
        if (localStorage.getItem("chart-type") != null) {
            chart_selector_init = localStorage.getItem("chart-type");
        }
        localStorage.setItem("chart-type", chart_selector_init);

        var chart_id_init = "#" + chart_selector_init + "_chart"
        $("canvas").not(chart_id_init).hide();
        $(chart_id_init).show();
    
        $("#chart-type").on('change', function() {
            var chart_type = $("#chart-type").val();
            show_chart_id = "#" + chart_type + "_chart"

            $("canvas").not(show_chart_id).hide();
            $(show_chart_id).show();

            localStorage.setItem("chart-type", chart_type);
        });

        // remember dropdown values on refresh
        $("#date-period").val(function () {
            return localStorage.getItem("date-period");
        });
        $("#group-by").val(function () {
            return localStorage.getItem("group-by");
        });
        $("#chart-type").val(function () {
            return localStorage.getItem("chart-type");
        });
    });


</script>

{% endblock %}
