{% block navbar %} 
	<nav id="app-nav" {% if user.is_superuser %} class="navbar navbar-expand-lg navbar-dark bg-dark" {% else %} class="navbar navbar-expand-lg navbar-light bg-light" {% endif %}>

		<!-- Render the logo -->
		
		<a class="navbar-brand" href="{% url 'Home' %}">
			{% load static %}
			<img src="{% static 'inventory/logo.png' %}" width="35" height="33" class="d-inline-block align-top" alt="FLP Logo">
			{% if user.is_superuser %} <!-- Note that is_staff != Staff in UI -->
			<b>&nbsp;&nbsp;Foster Love Project (Staff)&nbsp;&nbsp;</b>
			{% elif user.is_staff %}
			<b>&nbsp;&nbsp;Foster Love Project (Volunteer)&nbsp;&nbsp;</b>
			{% else %}
			<b>&nbsp;&nbsp;Foster Love Project&nbsp;&nbsp;</b>
			{% endif %}
		</a>

		<!-- Create the hamburger button -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav ml-auto">

				{% if user.is_staff %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Data</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="/families/index/">Families</a></li>
							<li><a class="dropdown-item" href="/categories/index/">Categories</a></li>
							<li><a class="dropdown-item" href="/items/index/">Items</a></li>
							<li><a class="dropdown-item" href="/checkins/index/">Checkins</a></li>
							<li><a class="dropdown-item" href="/checkouts/index/">Checkouts</a></li>
						</ul>
					</li>

					<li class="nav-item">
						{%  url 'Checkin' as checkin_url %}
						<a class="nav-link {% if request.path == checkin_url %}active{% endif %}" href="{{ checkin_url }}">Check In</span></a>
					</li>
	
					<li class="nav-item">
						{%  url 'Checkout' as checkout_url %}
						<a class="nav-link {% if request.path == checkout_url %}active{% endif %}" href="{{ checkout_url }}">Check Out</span></a>
					</li>

					<li class="nav-item">
						{%  url 'Report' as report_url %}
						<a class="nav-link {% if request.path == report_url %}active{% endif %}" href="{{ report_url }}">Generate Report</span></a>
					</li>

					<li class="nav-item">
						{%  url 'Analytics' as analytics_url %}
						<a class="nav-link {% if request.path == analytics_url %}active{% endif %}" href="{{ analytics_url }}">Analytics</span></a>
					</li>
				{% endif %}

        
				<!-- Only show the log out link if the user is logged in -->
				{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'Logout' %}">Log Out</a>
					</li>
					{% if user.is_superuser %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'admin:index' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Admin Site">&#x2699;</a>
						</li>
					{% endif %}
					
				{% else %}

					<!-- Only show the log in link if the user is logged out -->
					<li class="nav-item">
						{% url 'Login' as login_url %}
						<a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{{ login_url }}">Log In</a>
					</li>

					<!-- Only show the about link if the user is logged out -->
					<li class="nav-item">
						{% url 'About' as about_url %}
						<a class="nav-link {% if request.path == about_url %}active{% endif %}" href="{{ about_url }}">About</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
{% endblock %}