{% extends "inventory/base.html" %}

{% block title %}
    {% block navtitle %}
        Analytics
    {% endblock %}
{% endblock %}

{% block page_specific_styles %}
  <style>
    .checked-out-col {
        padding-right:20px; 
        border-right: 1px solid #ccc;
    }

  </style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Analytics</h1>
    <br>
    <div class="row">
        <div class="col-sm checked-out-col">
            <form class="check-report-form" method="POST" action="{% url 'Analytics' %}">
                    <div class="row">
                        <div class="col-sm">
                            <h6>Time Period</h6>
                            <select class="form-select" id="date-period">
                                <option value="last_week" selected>Last Week</option>
                                <option value="last_month">Last Month</option>
                                <option value="last_six_months">Last 6 Months</option>
                                <option value="all_time">All Time</option>
                            </select>
                        </div>

                        <div class="col-sm">
                            <h6>Group</h6>
                            <select class="form-select" id="group-by">
                                <option value="category" selected>By Category</option>
                                <option value="item">By Item</option>
                            </select>
                        </div>
                    </div>
                    <br>

                    {% include "inventory/checkout_quantities_table.html" with date_period='last_week' date_since=one_week_ago checkouts=item_week_checkouts group_by="item" %}
                    {% include "inventory/checkout_quantities_table.html" with date_period='last_month' date_since=one_month_ago checkouts=item_month_checkouts group_by="item" %}
                    {% include "inventory/checkout_quantities_table.html" with date_period='last_six_months' date_since=six_months_ago checkouts=item_six_month_checkouts group_by="item" %}
                    {% include "inventory/checkout_quantities_table.html" with date_period='all_time' date_since=all_time checkouts=item_all_time_checkouts group_by="item" %}

                    {% include "inventory/checkout_quantities_table.html" with date_period='last_week' date_since=one_week_ago checkouts=cat_week_checkouts group_by="category" %}
                    {% include "inventory/checkout_quantities_table.html" with date_period='last_month' date_since=one_month_ago checkouts=cat_month_checkouts group_by="category" %}
                    {% include "inventory/checkout_quantities_table.html" with date_period='last_six_months' date_since=six_months_ago checkouts=cat_six_month_checkouts group_by="category" %}
                    {% include "inventory/checkout_quantities_table.html" with date_period='all_time' date_since=all_time checkouts=cat_all_time_checkouts group_by="category" %}
                    
            </form>
            {% csrf_token %}
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <h6>Data Type</h6>
                    <select class="form-select" id="chart-type">
                        <option value="cout" selected>Children</option>
                        <option value="fam">Families</option>
                    </select>
                </div>
            </div>
            <canvas id="cout_chart" width=150 height=100></canvas>
            <canvas id="fam_chart" width=150 height=100></canvas>
        </div>
    </div>
</div>

{% endblock %}


{% block page_specific_scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">
    var labelsCoutJson = '{{ labels_couts|safe }}';
    var dataCoutJson = '{{ data_couts|safe }}';

    // Note that the real values displayed are checkout counts but we display it as Children in the UI
    var ctx = document.getElementById('cout_chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse(labelsCoutJson),
            datasets: [{
                label: 'Number of Children',
                data: JSON.parse(dataCoutJson),
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Child Checkouts per Month',
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0
                    }
                }]
            }
        }
    });

    var labelsFamJson = '{{ labels_fams|safe }}';
    var dataFamJson = '{{ data_fams|safe }}';

    var ctx = document.getElementById('fam_chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse(labelsFamJson),
            datasets: [{
                label: 'Number of Families',
                data: JSON.parse(dataFamJson),
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Family Checkouts per Month'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        precision: 0
                    }
                }]
            }
        }
    });

    $(document).ready(function() {
        // for showing tables
        var date_period_init = "last_week";
        var group_by_init = "category";
        
        if (localStorage.getItem("date-period") != null) {
            date_period_init = localStorage.getItem("date-period");
        }
        if (localStorage.getItem("group-by") != null) {
            group_by_init = localStorage.getItem("group-by");
        }
        localStorage.setItem("date-period", date_period_init);
        localStorage.setItem("group-by", group_by_init);

        var initial_table_selector = "#" + date_period_init + "_" + group_by_init
        $(".table_div").not(initial_table_selector).hide();
        $(initial_table_selector).show();

        $("#date-period").add("#group-by").on('change', function() {
            var date_period = $("#date-period").val();
            var group_by = $("#group-by").val();
            show_table_id = "#" + date_period + "_" + group_by

            $(".table_div").not(show_table_id).hide();
            $(show_table_id).show();

            localStorage.setItem("date-period", date_period);
            localStorage.setItem("group-by", group_by);
        });

        // for showing charts
        var chart_selector_init = "cout"
        if (localStorage.getItem("chart-type") != null) {
            chart_selector_init = localStorage.getItem("chart-type");
        }
        localStorage.setItem("chart-type", chart_selector_init);

        var chart_id_init = "#" + chart_selector_init + "_chart"
        $("canvas").not(chart_id_init).hide();
        $(chart_id_init).show();
    
        $("#chart-type").on('change', function() {
            var chart_type = $("#chart-type").val();
            show_chart_id = "#" + chart_type + "_chart"

            $("canvas").not(show_chart_id).hide();
            $(show_chart_id).show();

            localStorage.setItem("chart-type", chart_type);
        });

        // remember dropdown values on refresh
        $("#date-period").val(function () {
            return localStorage.getItem("date-period");
        });
        $("#group-by").val(function () {
            return localStorage.getItem("group-by");
        });
        $("#chart-type").val(function () {
            return localStorage.getItem("chart-type");
        });
    });
</script>

{% endblock %}
