{% extends "inventory/base.html" %}

{% block title %}
    {% block navtitle %}
        Analytics
    {% endblock %}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Analytics</h1>
    <br>
    <div class="row">
        <div class="col-sm">
            <form class="check-report-form" method="POST" action="{% url 'Analytics' %}">
                    <div class="row">
                        <div class="col-sm">
                            <select class="form-select" id="date-period">
                                <option value="last_week" selected>Last Week</option>
                                <option value="last_month">Last Month</option>
                                <option value="last_six_months">Last 6 Months</option>
                                <option value="all_time">All Time</option>
                            </select>
                        </div>

                        <div class="col-sm">
                            <select class="form-select" id="group-by">
                                <option value="category" selected>By Category</option>
                                <option value="item">By Item</option>
                            </select>
                        </div>
                    </div>
                    <br>

                    {% include "inventory/checkout_quantities_table.html" with date_period='last_week' date_since=one_week_ago checkouts=item_week_checkouts group_by="item" %}
                    {% include "inventory/checkout_quantities_table.html" with date_period='last_month' date_since=one_month_ago checkouts=item_month_checkouts group_by="item" %}
                    {% include "inventory/checkout_quantities_table.html" with date_period='last_six_months' date_since=six_months_ago checkouts=item_six_month_checkouts group_by="item" %}
                    {% include "inventory/checkout_quantities_table.html" with date_period='all_time' date_since=all_time checkouts=item_all_time_checkouts group_by="item" %}

                    {% include "inventory/checkout_quantities_table.html" with date_period='last_week' date_since=one_week_ago checkouts=cat_week_checkouts group_by="category" %}
                    {% include "inventory/checkout_quantities_table.html" with date_period='last_month' date_since=one_month_ago checkouts=cat_month_checkouts group_by="category" %}
                    {% include "inventory/checkout_quantities_table.html" with date_period='last_six_months' date_since=six_months_ago checkouts=cat_six_month_checkouts group_by="category" %}
                    {% include "inventory/checkout_quantities_table.html" with date_period='all_time' date_since=all_time checkouts=cat_all_time_checkouts group_by="category" %}
                    
            </form>
            {% csrf_token %}
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <select class="form-select" id="chart-type">
                        <option value="cout" selected>Checkouts</option>
                        <option value="fam">Families</option>
                    </select>
                </div>
            </div>
            <canvas id="cout_chart" width=150 height=100></canvas>
            <canvas id="fam_chart" width=150 height=100></canvas>
        </div>
    </div>
</div>

{% endblock %}


{% block page_specific_scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">
    var labelsCoutJson = '{{ labels_couts|safe }}';
    var dataCoutJson = '{{ data_couts|safe }}';

    var ctx = document.getElementById('cout_chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse(labelsCoutJson),
            datasets: [{
                label: 'Number of Checkouts',
                data: JSON.parse(dataCoutJson),
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Checkouts by Month',
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0
                    }
                }]
            }
        }
    });

    var labelsFamJson = '{{ labels_fams|safe }}';
    var dataFamJson = '{{ data_fams|safe }}';

    var ctx = document.getElementById('fam_chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse(labelsFamJson),
            datasets: [{
                label: 'Number of Families',
                data: JSON.parse(dataFamJson),
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Families by Month'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        precision: 0
                    }
                }]
            }
        }
    });

    $(document).ready(function() {
        // for showing tables
        var initial_table_selector = "#last_week_category"
        $(".table_div").not(initial_table_selector).hide();
        $(initial_table_selector).show();

        $("#date-period").add("#group-by").on('change', function() {
            var date_period = $("#date-period").val();
            var group_by = $("#group-by").val();
            show_table_id = "#" + date_period + "_" + group_by

            $(".table_div").not(show_table_id).hide();
            $(show_table_id).show();
        });

        // for showing charts
        var initial_chart_selector = "#cout_chart"
        $("canvas").not(initial_chart_selector).hide();
        $(initial_chart_selector).show();

        $("#chart-type").on('change', function() {
            var chart_type = $("#chart-type").val();

            show_chart_id = "#" + chart_type + "_chart"

            $("canvas").not(show_chart_id).hide();
            $(show_chart_id).show();
        });
    });
</script>

{% endblock %}
