{% extends "inventory/base.html" %}

{% block page_specific_styles %}
  <style>
    .about-spacer {
      padding-bottom: 5vh;
    }

    .split {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    
    .divider{
      width: 10px;
      height:auto;
      display:inline-block;
    }

    .resizedTextbox {
      width: 50px;
      height: 40px;
      padding: 1px
    }

    #additemform {
      border-left: 1px solid lightgrey;
    }
  </style>
{% endblock %}

{% block title %}{% block navtitle %}
  Check In
{% endblock %}{% endblock %}


{% block content %}

<div class="container">

  <script type="text/javascript">
  
    function changeDropToText(index) {
      var textBox = document.getElementById('qtyText-' + index)
      var updateBtn = document.getElementById('updateBtn-' + index)
      var qtyDropdown = document.getElementById('qtyDropdown-' + index)
      textBox.style.display='block'
      updateBtn.style.display='inline-block'
      qtyDropdown.style.display='none'
    }

    function updateURLQty(index) {
      var textBox = document.getElementById('qtyText-' + index)
      var updateBtn = document.getElementById('updateBtn-' + index)
      if (textBox.value >= 1) {
        updateBtn.href = (updateBtn.href).replace('10', textBox.value.toString())
      } else {
        updateBtn.href = (updateBtn.href).replace('10', '1')
      }
    }
  
  </script>

  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <p class="mb-0">{{ message }}</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  <h1>Check In</h1>
  <br/>
  <div class="row">
   <div class="col-md-7">
     <h4>Your Cart</h4>
      <table class="table">
        <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">New/Used</th>
              <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for tx in transactions %}
            <tr> 
                <th scope="row">{{ tx.item }}</th>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="qtyDropdown-{{ forloop.counter0 }}" style='display:block' data-bs-toggle="dropdown" aria-expanded="false">
                    {{ tx.quantity }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="qty-menu" id="qtyDropdownMenu">
                    <a class="dropdown-item" href="{% url 'EditQuantity' index=forloop.counter0 location='in' qty=1%}">1</a>
                    <a class="dropdown-item" href="{% url 'EditQuantity' index=forloop.counter0 location='in' qty=2%}">2</a>
                    <a class="dropdown-item" href="{% url 'EditQuantity' index=forloop.counter0 location='in' qty=3%}">3</a>
                    <a class="dropdown-item" href="{% url 'EditQuantity' index=forloop.counter0 location='in' qty=4%}">4</a>
                    <a class="dropdown-item" href="{% url 'EditQuantity' index=forloop.counter0 location='in' qty=5%}">5</a>
                    <a class="dropdown-item" href="{% url 'EditQuantity' index=forloop.counter0 location='in' qty=6%}">6</a>
                    <a class="dropdown-item" href="{% url 'EditQuantity' index=forloop.counter0 location='in' qty=7%}">7</a>
                    <a class="dropdown-item" href="{% url 'EditQuantity' index=forloop.counter0 location='in' qty=8%}">8</a>
                    <a class="dropdown-item" href="{% url 'EditQuantity' index=forloop.counter0 location='in' qty=9%}">9</a>
                    <button class="dropdown-item" onclick="changeDropToText(index = '{{ forloop.counter0 }}' )" >10+</a>
                    </div>
                  </div>
                  <input type="number" min="1" class="resizedTextbox" name="qtyText" onchange="updateURLQty(index = '{{ forloop.counter0 }}')" id="qtyText-{{ forloop.counter0 }}" value=10 style='display:none'/>
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="newDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      {% if tx.is_new %} New {% else %} Used {% endif %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="new-menu" id="newDropdownMenu">
                    <a class="dropdown-item" href="{% url 'EditIsNew' index=forloop.counter0 location='in' isnew=1%}">New</a>
                    <a class="dropdown-item" href="{% url 'EditIsNew' index=forloop.counter0 location='in' isnew=0%}">Used</a>
                    </div>
                </div>
                </td>
                <td>
                  <a href="{% url 'RemoveItem' index=forloop.counter0 location='in' %}" class="btn btn-danger btn-sm save-notes-on-click">
                    Remove
                  </a>
                  <div class="divider"></div>
                  <a id="updateBtn-{{ forloop.counter0 }}" href="{% url 'EditQuantity' index=forloop.counter0 location='in' qty=10%}" class="btn btn-warning btn-sm save-notes-on-click" style='display:none'>
                    Update
                  </a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if not transactions %}
        <p style="font-style: italic;">No items added...</p>
      {% endif %}
      
      <form method="POST" action="{% url 'Checkin' %}">
        <div id="notesCollapse" class="collapse">
          <label for="id_checkin_notes">Notes:</label>
          <textarea name="checkin_notes" cols="25" rows="4" class="form-control" maxlength="500" id="id_checkin_notes" spellcheck="false"></textarea>
          <br>
        </div>

        <div class="row">
            <div class="col">
                {% csrf_token %}
                <button id="addNotes-btn" class="btn btn-warning mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#notesCollapse" aria-expanded="false" aria-controls="notesCollapse">
                  Add Notes &#x270E;
                </button>
                <button id="checkin-btn" name="checkin" class="btn btn-success mt-2" type="submit" {% if not transactions %}disabled{% endif %}>Check In Items</button>
            </div>
        </div>
      </form>
    </div>

    <div class="col-md-4" id="additemform">
      <h4>Add To Cart</h4>
      <form method="POST" action="{% url 'Checkin' %}">
          {% for field in formadditem %}
            <div class="fieldWrapper form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                  {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                  {% endfor %}
                {% endif %}
            </div>
          {% endfor %}
          {% csrf_token %}
          <br>
          {% if user.is_superuser %}
            <p>Can't find what you're looking for?<br/><a id="createItem-btn" href="{% url 'CreateItem' location='in' %}">Create a new item.</a></p>
          {% else %}
            <p>Can't find what you're looking for? Ask an admin to create a new item.</p>
          {% endif %}
          <button id="addToCart-btn" name="additem" class="btn btn-warning" type="submit">Add To Cart</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block page_specific_scripts %}

<script>
	$(document).ready(function() {
    	$("#id_item").autocomplete({
    		source: '{% url "autocomplete_item" %}',
    		minLength: 2
    	});
	});
</script>

{% load static %}
<script src="{% static 'inventory/checkin_scripts.js' %}"></script>

{% endblock %}
