{% extends "inventory/base.html" %}

{% block page_specific_styles %}
  <style>
    .about-spacer {
      padding-bottom: 5vh;
    }

    .split {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .top-buttons {
      display: flex;
    }

    .top-buttons a {
      margin-right: 20px;
    }

  </style>
{% endblock %}

{% block title %}{% block navtitle %}
  Check Out
{% endblock %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="split">
        <h1>Check Out Items:</h1>
        <div class="top-buttons">
          <a class="btn btn-primary" href="{% url 'AddItemOut' %}">Add Item +</a>

            <form method="POST" action="{% url 'Checkout' %}">
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Check Out Items</button>
            </form>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for tx in transactions %}
            <tr> 
                <th scope="row">{{ tx.item}}</td>
                <td>{{ tx.quantity }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}