{% extends "inventory/base.html" %}

{% block page_specific_styles %}
  <style>
    .about-spacer {
      padding-bottom: 5vh;
    }

    .split {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .checkout-form {
      display: flex;
    }

    .checkout-form .fieldWrapper{
      padding-right: 20px;
    }

    .create-family {
      padding-top: 15px;
    }

    .ui-autocomplete {
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  </style>
{% endblock %}

{% block title %}{% block navtitle %}
  Check Out
{% endblock %}{% endblock %}

{% block content %}

<div class="container">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <p class="mb-0">{{ message }}</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}

  <div class="row">
    <div class="col-md-8">
      <div class="split">
        <h1>Check Out Items:</h1>
      </div>
      <form method="POST" action="{% url 'Checkout' %}">
            <div class="checkout-form">
              {% for field in formcheckout %}
              <div class="fieldWrapper form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                  {{ field.label_tag }}
                  {{ field }}
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
              </div>
              {% endfor %}
              {% csrf_token %}
              <p class="create-family">Can't find the family you're looking for?<br/><a href="{% url 'CreateFamily' %}">Create a new family.</a></p>
            </div>
            
        <table class="table">
          <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for tx in transactions %}
              <tr> 
            <tr> 
              <tr> 
                  <th scope="row">{{ tx.item}}</td>
                  <td>{{ tx.quantity }}</td>
                  <td>
                    <a href="{% url 'RemoveItem' index=forloop.counter0 location='out' %}" class="btn-sm btn-danger">
                      Remove
                    </a>
                  </td
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not transactions %}
          <p style="font-style: italic;">No items added...</p>
        {% endif %}
        <div class="row">
          <div class="col">
            <a class="btn btn-primary" href="{% url 'AddItem' location='out' %}">Add Item to Cart +</a>
          </div>
          {% if transactions %}
            <div class="col">
              <button id="checkout-btn" class="btn btn-success float-end" type="submit">Check Out Items</button>
            </div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block page_specific_scripts %}

<script>
  $(document).ready(function() {
    $("#id_family").val(function () {
      return localStorage.getItem("family");
    });
    $("#id_family").on("change", function () {
      localStorage.setItem("family", $(this).val());
    });
    $("#id_family").on("click", function () {
      $(this).val("");
    });
    $("#id_family").autocomplete({
      source: '{% url 'autocomplete_family' %}',
      minLength: 2
    });
    $("#checkout-btn").on('click', function(){
      localStorage.setItem("family", $("#id_family").val())
    })
  });
</script>

{% endblock %}
