{% extends "inventory/base.html" %}

{% block page_specific_styles %}
  <style>
    .about-spacer {
      padding-bottom: 5vh;
    }
  </style>
{% endblock %}

{% block title %}{% block navtitle %}
  Check In
{% endblock %}{% endblock %}



{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Check In:</h1>

            <table>
              <tr>
                  <th>Item</th>
                  <th>Quantity</th>
              </tr>
              {% for tx in transactions %}
                <tr> 
                    <td>{{ tx.item}}</td>
                    <td>{{ tx.quantity }}</td>
                </tr>
              {% endfor %}
            </table>

            <form method="POST" action="{% url 'AddItem' %}">
                <table>
                    {{form}}
                </table>
                {% csrf_token %}
                <br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>

            <form method="POST" action="{% url 'Checkin' %}">
                {% csrf_token %}
                <br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>

        </div>
    </div>
</div>

<script
	src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous">
</script>
<script
	src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	crossorigin="anonymous">
</script>
<script>
	$(document).ready(function() {
        $("#id_name").autocomplete({
			source: '{% url 'autocomplete' %}',
			minLength: 2
		});
    });
</script>

{% endblock %}