{% extends "inventory/base.html" %}

{% block page_specific_styles %}
  <style>
    .about-spacer {
      padding-bottom: 5vh;
    }
  </style>
{% endblock %}

{% block title %}{% block navtitle %}
  Create Family
{% endblock %}{% endblock %}



{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>Create Family:</h1>

            <form method="POST" action="{% url 'CreateFamily' %}">
                {% for field in form %}
                <div class="fieldWrapper form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                      {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                      {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                {% csrf_token %}
                <br>
                <button class="btn btn-primary" type="submit">Create Family</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block page_specific_scripts %}

<script>
	$(document).ready(function() {
    	$("#id_name").autocomplete({
    		source: '{% url 'autocomplete' %}',
    		minLength: 2
    	});
	});
</script>

{% endblock %}
