{% extends "inventory/base.html" %}

{% block content %}
<form class="check-report-form" method="POST" action="{% url 'Report' %}">
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Generate Report:</h1><br>

                <div class="row">

                  <div class="col">
                    <label class="mb-3">Report Type:&nbsp;&nbsp;</label><br>

                    <div class="btn-group" role="group" aria-label="Transaction toggle group">
                      <input type="radio" class="btn-check" name="tx-type" value="Checkout" id="radio1" autocomplete="off" {% if tx == 'Checkout' %}checked{% endif %} required>
                      <label class="btn btn-outline-primary" for="radio1">CheckOut</label>

                      <input type="radio" class="btn-check" name="tx-type" value="Checkin" id="radio2" autocomplete="off" {% if tx == 'Checkin' %}checked{% endif %} required>
                      <label class="btn btn-outline-primary" for="radio2">CheckIn</label>
                    </div><br><br>
                  </div>

                  <div class="col">
                    <label for="date1" class="mb-3">Start Date:</label>
                    <input class="form-control date-input" name="start-date" type="date" value="{{ startDate }}" id="date1"><br>
                  </div>

                  <div class="col">
                    <label for="date2" class="mb-3">End Date:</label>
                    <input class="form-control date-input" name="end-date" type="date" value="{{ endDate }}" id="date2">
                    <!-- <br> -->
                  </div>

                  <div class="col mt-2"><br>
                    <button class="btn btn-lg btn-warning" type="submit">Generate</button>
                  </div>
                </div>

                {% csrf_token %}

            <hr>
        </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        {% if results %}
          <h4>Filtered {{ tx }}s | <span class="monetary-value">${{ totalValue }}</span>:</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                {% if results.0.family %}
                  <th scope="col">Family</th>
                {% endif %}
                <th scope="col">Value</th>
                <th scope="col">Items</th>
              </tr>
            </thead>
            <tbody>
              {% for c in results %}
              <tr>
                <th scope="row">{{ c.id }}</th>
                <td>{{ c.datetime }}</td>
                {% if c.family %}
                  <td>{{ c.family.name }}</td>
                {% endif %}
                <td>{{ c.getValue }}</td>
                <td>
                {% for tx in c.items.all %}
                  {{ tx.item.name }}({{ tx.quantity }}){% if not forloop.last %}, {% endif %}
                {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <!-- Pagination -->
          {% if results.has_other_pages %}
          <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                  {% if results.has_previous %}
                      <li class="page-item">
                          <button type="submit" name="page" value="{{ results.previous_page_number }}" class="page-link" aria-label="Previous">Previous</button>
                      </li>
                  {% else %}
                      <li class="page-item disabled"><span class="page-link">Previous</span></li>
                  {% endif %}

                  {% for i in results.paginator.page_range %}
                      {% if results.number == i %}
                          <li class="page-item active">
                              <span class="page-link">{{ i }}</span>
                          </li>
                      {% else %}
                          <li class="page-item">
                              <button type="submit" name="page" value="{{ i }}" class="page-link">{{ i }}</button>
                          </li>
                      {% endif %}
                  {% endfor %}

                  {% if results.has_next %}
                      <li class="page-item">
                          <button type="submit" name="page" value="{{ results.next_page_number }}" class="page-link" aria-label="Previous">Next</button>
                      </li>
                  {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                  {% endif %}
              </ul>
          </nav>
          {% endif %}

        {% elif results|length == 0 %}
          <p>No results for the specified filters.</p>
        {% else %}
          <p>Generate a report to see it below.</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col mt-2"><br>
        <button class="btn btn-lg btn-warning" name="export_table" type="submit">Download Current Table</button>
      </div>
    </div>
    <div class="row">
      <div class="col mt-2"><br>
        <button class="btn btn-lg btn-warning" name="export" type="submit">Download Price Adjustment CSV</button>
      </div>
    </div>
    <br>
</div>
</form>

{% endblock %}