{% extends "inventory/base.html" %}

{% block title %}{% block navtitle %}
	Login
{% endblock %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Login:</h1>

            <form method="POST" action="{% url 'Login' %}">
                <table>
                    {{form}}
                </table>
                {% csrf_token %}
                <br>
                <p>
                    Need an extra set of credentials? Use these to play around in the FLP Sandbox:
                    <br>
                    <b>Admin - </b> admin:admin | <b>Staff - </b> staff:staff
                </p>
                <br>
                <button class="btn btn-warning" type="submit">Submit</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}
