{% extends "inventory/base.html" %}

{% block title %}{% block navtitle %}
	Login
{% endblock %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Login:</h1>

            <form method="POST" action="{% url 'Login' %}">
                <table>
                    {{form}}
                </table>
                {% csrf_token %}
                <br>
                <button class="btn btn-primary" type="submit">Submit</button>
                <a class="btn btn-secondary" href="{% url 'Register' %}">Register</a>
            </form>

        </div>
    </div>
</div>

{% endblock %}
