{% extends "inventory/base.html" %}


{% block user-info %}
    <div>
        <a href="{% url 'login' %}">
            <button>Login</button>
        </a>
    </div>
{% endblock %}


{% block content %}
    <p>Register for the address book:</p>

    <form method="post" action="{% url 'register' %}">
        <table>
            {% for field in form.visible_fields %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td>{{field}}</td>
                    <td class="error">
                        {% for error in field.errors %} {{error}} {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% csrf_token %}
        <button type="submit">Register</button>
    </form>

    {% for error in form.non_field_errors %}
        <p class="error">
            {{ error }}
        </p>
    {% endfor %}

{% endblock %}
