{% extends "inventory/base.html" %}

{% block user-info %}
    <div>
        {{user.first_name}} {{user.last_name}} <br>
        username={{user.username}}
    </div>
    <div>
        <a href="{% url 'logout' %}">
            <button>Logout</button>
        </a>
    </div>
{% endblock %}

{% block search-bar %}
    <div>
        <script>
            var alphabet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
            for (var i=0; i<alphabet.length; i++) {
                document.write(
                    '<a class="letter" href="{% url 'search' %}?last=' +
                    alphabet.charAt(i) + '"">' +
                    alphabet.charAt(i) + '</a>\n')
            }
        </script>
    </div>
    <div>
        <a href="{% url 'create' %}">
            <button>New Entry</button>
        </a>
    </div>
{% endblock %}
