  
/* App Styles  */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.content {
  margin: auto;
  margin-top: 5%;
  width: 80%;
}

.pagination li{
  padding: 5px;
}