  
/* App Styles  */

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.filter-button-container {
  display: flex;
  align-items: flex-end;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.content {
  margin: auto;
  margin-top: 5%;
  width: 80%;
}

.pagination li {
  padding: 5px;
}

/* Nav Bar */

.navbar {
  padding-left: 25px;
  padding-right: 25px;
}

.nav-hi::after {
  content: '|';
  padding-left: .5em;
	padding-right: .5em;
}

/* Text Styles */

.bold { font-weight: 800; }

.blue { color: #095cb5; }

/* Item Cart Panel */

@media only screen and (max-width: 767px) {
  #additemform { border-left: none !important; }
  div#additemform h4 { margin-top: 50px; }
}

/* Report Generation: */

form.check-report-form {
  width: 100%;
}

form.check-report-form input.date-input {
  max-width: 225px;
}

span.monetary-value {
  color: #0275d8;
}

span#reportGroupingTooltip {
  position: relative;
  top: 6px;
}

.zero_value::after{
  content: '*';
  color: red;
}

/* Forms */
label.required::after {
  content: ' *';
  color: red;
}

.form-checkbox {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

label {
  padding-top: 10px;
}

a.notes-arrow {
  font-size: 1.5em;
}

/* Create Item */

.back {
  padding-left: 0px;
}
