  
/* App Styles  */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.content {
  margin: auto;
  margin-top: 5%;
  width: 80%;
}

.pagination li {
  padding: 5px;
  margin-bottom: 10%;
}

/* Text Styles */

.bold { font-weight: 800; }

.blue { color: #095cb5; }

/* Report Generation: */

form.check-report-form {
  width: 100%;
}

form.check-report-form input.date-input {
  max-width: 225px;
}

span.monetary-value {
  color: #0275d8;
}

span#reportGroupingTooltip {
  position: relative;
  top: 6px;
}