{% extends "inventory/base.html" %}
{% load render_table from django_tables2 %}

{% block page_specific_styles %}
  {% load static %}
{% endblock %}

{% block title %}
  {% block navtitle %}
  	Families
  {% endblock %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Families</h1> 
    </div>
    <div class="col">
      <a class="btn btn-warning float-end" href="{% url 'CreateFamily' location='Families' %}">Create Family +</a>
    </div>
  </div>
  {% render_table table %}
</div>
{% endblock %}
