{% extends "inventory/base.html" %}

{% block page_specific_styles %}
  <style>
    .about-spacer {
      padding-bottom: 5vh;
    }

    .form-group {
      padding: 5px 0;
    }

    .split {
      display: flex;
      justify-content: space-between;
    }
  </style>
{% endblock %}

{% block title %}{% block navtitle %}
  Check In
{% endblock %}{% endblock %}



{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-5">
        <button class="btn btn-link back" value="Previous Page" onClick="javascript:history.go(-1);">Back</button>
        <h1>Create Item:</h1>

            <form method="POST" action="{% url 'CreateItem' location=location %}">
                {% for field in form %}
                <div class="fieldWrapper form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                      {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                      {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                {% csrf_token %}
                <br>
                <button class="btn btn-warning" type="submit">Create Item</button>
            </form>
        </div>
    </div>
    
</div>

{% endblock %}

{% block page_specific_scripts %}

<script>
	$(document).ready(function() {
    	$("#id_name").autocomplete({
    		source: '{% url "autocomplete_item" %}',
    		minLength: 2
    	});
	});
</script>

{% endblock %}
