{% extends "inventory/base.html" %}

{% block page_specific_styles %}
  {% load static %}
  <!-- <link href="{% static 'inventory/index_styles.css' %}" rel="stylesheet" type="text/css"> -->
{% endblock %}

{% block title %}
  {% block navtitle %}
  	Items
  {% endblock %}
{% endblock %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for i in items %}
                <tr>
                    <th scope="row">{{i.id}}</th>
                    <td>{{i.category}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.price}}</td>
                    <td>{{i.quantity}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}